<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin2.2</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/xadmin/css/font.css">
    <link rel="stylesheet" href="/xadmin/css/xadmin.css">
    <link rel="stylesheet" href="/xadmin/lib/layui/css/layui.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="/xadmin/lib/layui/layui.all.js" charset="utf-8"></script>
    <script type="text/javascript" src="/xadmin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <br>
        <form class="layui-form" th:object="${category}">
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>分类ID</label>
                <div class="layui-input-inline">
                    <input type="text" id="categoryId" name="email" required="" lay-verify="email" autocomplete="off" disabled class="layui-input" th:value="${category.id}"></div>
            </div>

            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>货物分类名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="email" required="" lay-verify="email" autocomplete="off" class="layui-input" th:value="${category.name}"></div>
            </div>

            <div class="layui-form-item">
                <label for="remarks" class="layui-form-label">
                    <span class="x-red">*</span>备注</label>
                <div class="layui-input-inline">
                    <input type="text" id="remarks" name="email" required="" lay-verify="email" autocomplete="off" class="layui-input" th:value="${category.remarks}"></div>
            </div>

            <div class="layui-form-item">
                <label  class="layui-form-label"></label>
                <button class="layui-btn" onclick="addCategory()">确认修改</button></div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var layer = layui.layer;
    var index;
    function addCategory(){
        var id = $("#categoryId").val();
        var name = $("#name").val();
        var remarks = $("#remarks").val();
        if(name==""){
            layer.msg("姓名不能为空！")
        }else{
            $.ajax({
                async: false,//同步，待请求完毕后再执行后面的代码
                type: "POST",
                url: '/stuff/category/update',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data: {
                    "id":id,
                    "name":name,
                    "remarks":remarks
                },
                dataType: "json",
                success: function (data) {
                    if(data.code==0) {
                        //刷新父页面
                        window.parent.location.reload();
                        // index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        // parent.layer.close(index);
                        parent.layer.alert("修改成功！");
                    } else {
                        layer.msg(data.msg);
                    }
                },
                error: function () {
                    alert("数据获取失败")
                }
            })
        }
    }
</script>
</body>
</html>
